* {
  margin: 0 auto;
  padding: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.wrapper div {
  background-color: aqua;
  border: 2px solid black;
}

.wrapper > div {
  background-color: brown;
  padding: 1em;
}

.wrapper > div:nth-child(odd) {
  background-color: chartreuse;
  padding: 1em;
}
